<div class="body">
  <nav>
    <a class="logo" routerLink="">
      Rent a car
    </a>

    <div class="menu">
        <div *ngIf="token !== ''" class="menu-item"><a routerLink="home">Home</a></div>

        <div *ngIf="token !== ''" class="logout-item">
            <a (click)="logout()">Logout</a>
        </div>
        <div *ngIf="token === ''" class="menu-item">
            <a routerLink="registration">Register</a>
            <a routerLink="login">Login</a>
        </div>
    </div>
  </nav>
</div>
