<div class="container">
    <div class="overlay">
        <div class="login-container">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
            <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email address</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
                Enter a valid email address
            </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
            <mat-error *ngIf="loginForm.get('password')?.hasError('required') && loginForm.controls['password'].touched">
                Enter a password
            </mat-error>
            </mat-form-field>
            <p>{{errorMessage}}</p>
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid ">Sign in</button>
        </form>
        </div>
    </div>
</div>