<div class="payment-config-container">

  <h1 class="payment-heading">Select payment method</h1>

  <div class="payment-methods" >
    <div
      class="payment-card"
      *ngFor="let method of paymentMethods"
      [attr.data-method]="method.type"
      (click)="onPaymentMethodSelected(method)"
    >
      <img [src]="method.image || 'assets/default.png'" [alt]="method.type" />
      <div class="payment-info">
        <h3>{{ method.type }}</h3>
        <p>{{ method.description }}</p>
      </div>
    </div>
  </div>

</div>

<!-- Crypto payment modal -->
<div *ngIf="showCryptoModal" class="crypto-modal">
  <div class="modal-content">
    <button class="close-btn" (click)="closeCryptoModal()">X</button>

    <div *ngIf="cryptoLoading">
      <p>Processing your crypto payment...</p>
      <div class="spinner"></div>
    </div>

    <div *ngIf="cryptoSuccess">
      <p>Payment successful!</p>
      <a [href]="'https://sepolia.etherscan.io/tx/' + cryptoTxHash" target="_blank">
        View transaction
      </a>
    </div>

    <div *ngIf="cryptoError">
      <p>Error: {{ cryptoError }}</p>
    </div>
  </div>
</div>
