<div class="container">
    <div class="vehicles">
        <div class="vehicle" *ngFor="let vehicle of vehicles">
            <div class="image">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/VW_Golf_II_front_20080206.jpg" alt="">
            </div>
            <div class="description">
                <h1>{{vehicle.model}}</h1>
                <p>{{vehicle.description}}</p>
                <div class="price">
                    <h2>{{vehicle.pricePerDay}}</h2>
                    <h2>{{vehicle.currency}}</h2>
                    <h2>&#47; Day</h2>
                </div>
                <button  [routerLink]="['/vehicle', vehicle.id]">More info</button>
            </div>
        </div>
    </div>
</div>